
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: lightcyan;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.calcdiv {
    width: 600px;
    max-width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: 5px;
    border: dotted 2px maroon;
    border-radius: 20px;
}


header {
    background-color: rgb(197, 92, 22);
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 2.1rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
